:root {
	--text: white;	
	--border: cyan;
}

@font-face {
	font-family: Hyperlegible;
	src: url(fonts/AtkinsonHyperlegible.ttf);
}

@font-face {
	font-family: Fait;
	src: url(fonts/fait.TTF);
}


* {
	font-family: "Arial", "Hyperlegible";
}

body {
	background-image: url("background_space.png");
	background-size: contain;
	background-position:center;
	background-attachment: fixed;
	/* make pixel art bg not blurry */
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;          /* Firefox */
	image-rendering: -o-crisp-edges;            /* Opera */
	image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
	-ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
	color: var(--text);
}
/* GRID */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

header {
	grid-column: 1 / span 2;
	background-color: white;
}	

.rss {
	grid-row: 2 / span 2;	
}

/* STYLING */

main {
	margin: 3em auto;
	width: clamp(200px, 800px, 800px);	
}

.rss, header, section {
	background-image: linear-gradient(#0b262e, #0f3642);
	padding: 1em;
	border: 2px solid var(--border);
	border-radius: 10px;
}

.logo img {
	transition: ease-in-out .1s;
	margin: 2em;
	width: 85%;
	display: block;
	position: center;
	border: 1px solid var(--border);
	border-radius: 50%;
}

.logo img:hover {
	transform: scale(1.05);
	cursor: var(--pointer), auto;	
}


a img {
	transition: ease-in-out .05s;	
}

a img:hover {
	transform: opacity(50%);	
}

a {
	color: inherit;
	text-decoration: none;
} 

footer {
	text-align: center;	
	margin: 1em;
	color: var(--text);
}

h1, h2 {
	font-family: Fait;	
}

ul {
	list-style-type: none;	
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* BUTTONS */

.buttons {
	border: 2px solid var(--border); 
	font-size: 18px;
	
}

.buttons:hover {
	cursor: pointer;
}

.buttons h2 {
	font-family: Fait;
	padding: 1em;
}


#my-stuff {
	text-align: left;
	background-image: url("images/mystuff.png");
	background-size: auto 100%;
	background-position: right;
}

#other-stuff {
	text-align: right;
	background-image: url("images/otherstuff.png");
	background-size: auto 100%;
	background-position: left;
}


/* RSS */

.rss iframe {
	border: none;
	border-top: 1px solid;
	width: 100%;
	height: 70%;
}

rss channel {
	white-space: pre-line;
	
}

rss date {
	font-weight: bold;	
}

rss {
	color: var(--text);
	font-weight: bold;
}

/* FOR MOBILE */

@media screen and (max-width: 800px) {
	
	
main {
	margin: 1em auto;
	width: 90%;
}
	
main .grid-container {
	grid-template-columns: 1fr;
	grid-column: span 1;
}

.logo img {
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
}

#my-stuff {
	font-size: 16px;
	height: 70px;
	background-size: 100vw;
}
	
#other-stuff {
	font-size: 16px;
	height: 70px;
	background-size: 100vw;
}
	
}







